<div th:fragment="homepage_footer">
                <footer class="footer">
                  <div class="footer-inner">
                    <strong class="foot-logo">한경닷컴 IT교육센터</strong>
                    <div class="foot-info">
                      <div class="info-item">주소 : 서울시 영등포구 양산로 53 월드메르디앙 비즈센터 401호</div>
                      <div class="info-item">대표자 : 정종태 l TEL 02-6340-2235 / 02-6340-2460</div>
                      <div class="info-item">
                        <a href="mailto:itcampus@hankyung.com">itcampus@hankyung.com</a>
                      </div>
                    </div>
                    <p class="copyright">Copyright ⓒ 2024 한경닷컴 IT교육센터 All Rights Reserved.</p>
                    <div class="foot-links">
                      <div class="item">
                        <a href="https://itcampus.hankyung.com/terms_service/">이용약관</a>
                      </div>
                      <div class="item">
                        <a href="https://itcampus.hankyung.com/%ea%b0%9c%ec%9d%b8%ec%a0%95%eb%b3%b4%ec%b7%a8%ea%b8%89%eb%b0%a9%ec%b9%a8/">
                          <strong>개인정보취급방침</strong>
                        </a>
                      </div>
                    </div>
                  </div>
                </footer>
</div>