<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div th:replace="fragments/homepage_tagmanager :: homepage_tagmanager"></div>

    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>

                <main class="contents course">
                    <div class="course-list">
                       <th:block th:each="item:${clist}">
                          <div class="course-item">
                            <a th:href="@{/course/detail(cid=${item.cid})}" class="link-block">
                                <div class="thumb">
                                    <img th:src="${#strings.substring(item.cthumb,#strings.indexOf(item.cthumb,'/file'))}" th:alt="${item.cname}">
                                </div>
                                <div class="category" th:text="${item.ccate}"></div>

                                <div class="txt-cont">
                                    <div class="course-tit" th:text="${item.cname}"></div>
                                    <div class="date" 
                                    th:text="${#strings.replace(item.csdate,'-','.')} + ' ~ ' + ${#strings.replace(item.cedate,'-','.')}">
                                    </div>
                                    <div class="btns">
                                        <div class="btn-default">자세히보기</div>
                                    </div>
                                </div>
                                <div class="status-badge ing">
                                    [[${#strings.substring(#strings.replace(item.csdate,'-','.'),2)}]]<br>
                                    개강<span style="display: none;">[[${item.csdate}]]</span>
                                </div>
                            </a>
                        </div>
                       </th:block>
                    </div>
                    <div class="list-more-wrap">
                        <a role="button" class="btn-more" id="moreList">더보기</a>
                    </div>

                    <!-- 하단배너 -->
                    <div class="bottom-banner">
                        <a href="/diff">
                            <img src="https://static.hankyung.com/resource/itcampus/img/banner-diff.jpg" alt="과정차별성 확인하기">
                        </a>
                    </div>
                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>

            </div>
          <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
            
          //모집 중, 개강완료 구별 상태 표시
          courseStartStatus();
          
          //과정 목록 더보기
          var pageNum=2;
          $("#moreList").click(function(){
        	 $.ajax({
        		 url:"/course",
        		 method:"post",
        		 data:{"page":pageNum},
        		 dataType:"json",
        		 async:false,
        		 success:function(data){
	        			 var clist=data["clistMore"];//과정목록: "clistMore"로 전달된 리스트 받기
	        			 console.log("길이:"+clist.length);
	        			 if(clist.length>0){
		        			 var moreList="";
		        			 for(var i in clist){
			        			 moreList+='<div class="course-item">' +
			                     '	 <a href="/course/detail?cid='+ clist[i]["cid"] +'" class="link-block">'+
				                 '        <div class="thumb">'+
				                 '            <img src="'+clist[i]["cthumb"]+'" alt="'+clist[i]["cname"]+'">'+
				                 '        </div>'+
				                		  (category(clist[i].ccate)) +
				                 '        <div class="txt-cont">'+
				                 '            <div class="course-tit">'+clist[i]["cname"]+'</div>'+
				                 '            <div class="date">'+
				                 					(dateFormat(clist[i]["csdate"])+" ~ "+dateFormat(clist[i]["cedate"]))+
				                 '            </div>'+
				                 '            <div class="btns">'+
				                 '                <div class="btn-default">자세히보기</div>'+
				                 '            </div>'+
				                 '       </div>'+
				                 '        <div class="status-badge ing">'+
				                 			(dateFormat(clist[i]["csdate"]).substring(2))+'<br>'+
				                 '            개강<span style="display: none;">'+clist[i]["csdate"]+'</span>'+
				                 '        </div>'+
				                 '    </a>'+
				                 '</div>' ;
		    				 }
		        			 $(".course-list").append(moreList);
		        			 
		        			 courseStartStatus();//과정 개강 상태 배경색 표시하기
		        			 
		        			 pageNum++;//페이지번호 증가
		        			 
		        			 //마지막 페이지면 "더보기"버튼감추기
		        			 if(clist.length<6){
		        				 $("#moreList").hide();		        				 
		        			 }
	        			 }
	        			 
	        		 },
	        		 error:function(){
	        			 alert("통신오류");
	        		 }
        	 	})	
          });//onclick
        });//onload
        
        //csdate,cedate 값 '2024-05-22' --> '2024.05.22' 변환
        function dateFormat(date){
        	while(true){
        		if(date.indexOf("-")!=-1){
        			date=date.replace("-",".");
        		}else{
        			return date;
        		}
        	}
        }
        //카테고리값에 따라 해당 사업내용으로 값 변환
        function category(cate){
            // 카테고리를 코드로 하지않고 그냥 실제이름으로 전부 변경함.
            return '<div class="category">' + cate +'</div>';

        	//if(cate.indexOf("KDT")!=-1){
        	//	return '<div class="category">K디지털트레이닝</div>';
        	//}else{
        	//	return '<div class="category">국가기간전략산업직종</div>';
        	//}
        }
      //개강 날짜 , 현재 날짜 비교
        function getDaysDifference(startDate, endDate) {
            // 날짜를 밀리초 단위로 변환
            var startMillis = startDate.getTime();
            var endMillis = endDate.getTime();

            // 1일은 24시간 * 60분 * 60초 * 1000밀리초입니다.
            var oneDayMillis = 24 * 60 * 60 * 1000;

            // 두 날짜 사이의 밀리초 차이를 일 단위로 변환하여 반환
            var differenceInDays = Math.round((endMillis - startMillis) / oneDayMillis);
            return differenceInDays;
        }
      //교육과정 개강 상태
      function courseStartStatus(){
    	  $(".status-badge").each(function(){
          	var csdate=$(this).children("span").text();
          	
          	var startDate=new Date(csdate);
          	var currentDate=new Date();
          	
          	var differenceInDays = getDaysDifference(startDate,currentDate);
          	$(this).attr("class",(differenceInDays>0? "status-badge end":"status-badge ing"));
          });
      }
    </script>
</body>
</html>