<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교육과정 | 한경IT교육센터</title>

    <!-- og -->
    <meta name="title" content="교육과정 | 한경IT교육센터">
    <meta name="description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta name="author" content="한국경제">
    <meta property="og:title" content="교육과정 | 한경IT교육센터">
    <meta property="og:url" content="">
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta property="og:site_name" content="한경트래블러"/>
    <meta property="og:image" content="https://hkstatic.hankyung.com/resource/itcampus/img/og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="교육과정 | 한경IT교육센터">
    <meta name="twitter:description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta name="twitter:image:src" content="https://hkstatic.hankyung.com/resource/itcampus/img/og.jpg">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://www.hankyung.com/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="192x192" href="https://hkstatic.hankyung.com/resource/common/img/favicon/apple-touch-icon.png">
    <!-- css -->
    <link rel="stylesheet" href="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.css">
    <link rel="stylesheet" href="https://static.hankyung.com/resource/itcampus/css/common.css">
</head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <header class="header">
                    <div class="header-inner">
                        <h1 class="logo">
                            <a href="#">
                                <img src="https://static.hankyung.com/resource/itcampus/img/logo-itcampus.svg" alt="한국경제 IT교육센터">
                            </a>
                        </h1>
                        <div class="header-banner">
                            <img src="https://static.hankyung.com/resource/itcampus/img/banner-top.jpg" alt="디지털 이노베이션 교육기관 ​">
                        </div>
                    </div>
                </header>
                <nav class="quick-nav">
                    <ul class="gnb">
                        <li class="on">
                            <a href="#">
                                <span class="txt">교육과정</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="txt">정부지원<br>사업안내</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="txt">교육센터<br>소개</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="txt">
                                    <span class="is-pc">훈련생</span>
                                    프로젝트<br class="is-m"> 및 후기
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="txt">상담센터</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <main class="contents course">
                    <!-- 교육과정 상세 -->
                    <div class="page-tit-wrap">
                        <h2 class="page-tit">[4차/모집중] PBL기반 자바/스프링 백엔드 과정</h2>
                    </div>
                    <div class="course-detail">
                        <!-- 백엔드과정 -->
                        <div class="course--backend">
                            <div class="course__intro">
                                <div class="tits">
                                    <p class="course__stit">PBL 기반 자바/스프링 백엔드 과정</p>    
                                    <p class="course__tit">6개월 집중 프로그램 모집</p>
                                </div>
                                <div class="intro__img">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/img-intro.jpg" alt="" aria-hidden="true">
                                </div>
                                <div class="intro__tag">
                                    <span>#핀테크</span>
                                    <span>#JAVA</span>
                                    <span>#Spring</span>
                                    <span>#금융IT기술이해</span>
                                    <span>#클라우드</span>
                                </div>
                                <p class="intro__txt">
                                    한경닷컴 PBL기반 자바/스프링 백엔드 프로그램은 백엔드 개발자가 되기 위한 최적의 커리큘럼으로 구성 ‘웹/금융IT 분야’의 실무과정을 기반으로 프로젝트가 진행되어 백엔드 뿐만 아니라 웹 개발과 금융IT 기술 및 클라우드에 대한 기초 지식을 습득하고자 하는 학생들에게도 적합한 과정입니다.
                                </p>
                            </div>
                            <div class="course__section recruit">
                                <div class="course__con--tit">
                                    3기 모집안내
                                </div>
                                <div class="course__list grid2">
                                    <div class="item">
                                        <div class="item-icon">📋</div>
                                        <div class="item-tit">교육 기간</div>
                                        <div class="item-cont">
                                            2023년 12월 26일 ~ <br>2024년 06월 28일
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">🗓️</div>
                                        <div class="item-tit">신청접수</div>
                                        <div class="item-cont">
                                            2023년 10월 25일 ~ <br>2023년 12월 25일
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">🧑🏻‍💼</div>
                                        <div class="item-tit">모집인원 & 교육장소</div>
                                        <div class="item-cont">
                                            인원 : 30명(오프라인) 한경닷컴IT교육센터
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">🗂️</div>
                                        <div class="item-tit">신청요건</div>
                                        <div class="item-cont">
                                            내일배움카드 발급이 가능한 자
                                        </div>
                                    </div>
                                </div>
                                <div class="course__apply">
                                    <a href="#" class="btn--apply">신청하기</a>
                                </div>
                            </div>
                            <div class="course__section backend-info">
                                <div class="course__con--tit">
                                    <span class="color-point">왜</span> 백엔드 개발<span class="color-point">이<br> 유망한가요?</span>
                                </div>
                                <div class="course__list grid1">
                                    <div class="item">
                                        <div class="item-tit num">
                                            <strong class="color-point">01</strong>    
                                        </div>
                                        <div class="item-cont">
                                            핀테크 기업들이 디지털 금융 서비스를 제공하기 위해 모바일 앱과 웹 애플리케이션을 개발하고 유지보수하는데 백엔드 직무는 필수.
                                        </div>    
                                    </div>
                                    <div class="item">
                                        <div class="item-tit num">
                                            <strong class="color-point">02</strong>    
                                        </div>
                                        <div class="item-cont">
                                            사용자에게 안정된 서비스를 제공하기 위하여 금융서비스의 안정성과 신뢰성을 지키기 위하여 백엔드 개발자 수요 증가
                                        </div>    
                                    </div>   
                                    <div class="item">
                                        <div class="item-tit num">
                                            <strong class="color-point">03</strong>    
                                        </div>
                                        <div class="item-cont">
                                            대용량 및 실시간 데이터를 다뤄야 하기 때문에 데이터를 효율적으로 처리할 수 있는 기술을 익히는 것이 필수적이고, 또한 데이터를 안전하게 보호하고 개인정보를 준수하는 시스템 구축필수
                                        </div>    
                                    </div>      
                                </div>
                            </div>
                            <div class="course__section job-pain-point">
                                <div class="course__con--tit">
                                    백엔드 개발자<br>
                                    <span class="color-point">취준생의 Pain Point</span>
                                </div>
                                <div class="course__list grid1 type-light">
                                    <div class="item">
                                        <div class="item-tit num">01</div>
                                        <div class="item-cont">
                                            독학으로는 뭘 공부해야하는지, 뭘 준비해야하는지 모르겠나요!!
                                            6개월 교육을 투자하고, 앞으로 개발자로 쭉 일해야하는데 걱정이 많으시죠!!!
                                            처음에는 클론코딩 따라하기가 재미있지만 실제 회사에서 업무는 어렵습니다!
                                        </div>    
                                    </div>
                                    <div class="item">
                                        <div class="item-tit num">02</div>
                                        <div class="item-cont">
                                            원리이해 기반인 비전공자 전용 커리큘럼으로 처음 시작을 함께합니다.
                                            2016년부터 시작한 비전공자 과정 운영 노하우를 통해 차근차근 지도합니다. 
                                            개발을 잘 하는 것과 잘 가르치는 것은 다릅니다.
                                        </div>    
                                    </div>      
                                </div>
                            </div>
                            <div class="course__section what-study">
                                <div class="course__con--tit">
                                    그럼 뭘 공부해야하나요?
                                </div>    
                                <div class="course__con--stit">
                                    저희 한경닷컴에서 운영하는 백엔드과정은
                                </div>
                                <div class="subject-list">
                                    <span class="item" style="background:#00FF8D; color:#121212">웹 프론트 기술(HTML/CSS/JS)</span>
                                    <span class="item" style="background:#0279FF">데이터베이스(DB)</span>
                                    <span class="item" style="background:#DF48ED">보안기술(HTTPS/SSL)</span>
                                    <span class="item" style="background:#069360">JAVA / Spring</span>
                                    <span class="item" style="background:#FC44AC">클라우드</span>
                                    <span class="item" style="background:#474747">SW공학</span>
                                    <span class="item" style="background:#781F7B">금융IT기술</span>
                                    <span class="item" style="background:#FF3936">성능최적화 등</span>
                                    <span class="item" style="background:#FFFF29; color:#121212">필수 기술을 배우기 위한 비전공자 / 초보자용 커리큐럼</span>
                                </div>
                            </div>
                            <div class="course__section curriculum">
                                <div class="course__con--tit">
                                    과정 커리큘럼
                                </div> 
                                <div class="course__table__wrap">
                                    <table class="course__table">
                                        <caption>백엔드 과정 커리큘럼</caption>
                                        <colgroup>
                                            <col style="width:auto">
                                            <col style="width:43%">
                                            <col style="width:43%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="col" rowspan="2">
                                                    교과<br>
                                                    구분
                                                </th>
                                                <th scope="colgroup" colspan="2">차수(주/월/분기/학기)</th>
                                            </tr>
                                            <tr>
                                                <th scope="col" class="div-bg">1개월차</th>
                                                <th scope="col" class="div-bg">2개월차</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    정규<br>
                                                    교과
                                                </th>
                                                <td>
                                                    - 웹의 이해<br>
                                                    - 개발자환경구축<br>
                                                    - 응용SW기초기술<br>
                                                    - 금융IT기술<br>
                                                    - JAVA프로그램
                                                </td>
                                                <td>
                                                    - JAVA프로그램<br>
                                                    - RDBMS<br>
                                                    - WEB기초
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    기타
                                                </th>
                                                <td>
                                                    금융서비스의 이해
                                                </td>
                                                <td>
                                                    멘토링취업컨설팅
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">&nbsp;</th>
                                                <td class="div-bg">
                                                    3개월차
                                                </td>
                                                <td class="div-bg">
                                                    4~6개월차
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    정규<br>
                                                    교과
                                                </th>
                                                <td>
                                                    - WEB기초<br>
                                                    - Spring Fund.<br>
                                                    - Spring Boot<br>
                                                    - 클라우드
                                                </td>
                                                <td>
                                                    - Spring boot/클라우드 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    프로<br>
                                                    젝트
                                                </th>
                                                <td>&nbsp;</td>
                                                <td>
                                                    금융서비스의 개발프로젝트
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">기타</th>
                                                <td>멘토링취업컨설팅</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="course__section benefit">
                                <div class="course__con--tit">
                                    교육 참여 혜택
                                </div> 
                                <div class="course__list grid2">
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-benefit-1.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-cont">
                                            우수교육생<br>
                                            <strong>협약기업 채용추천</strong>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-benefit-2.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-cont">
                                            <strong>전액국비지원</strong><br>
                                            (훈련비+노트북/교재 지급)
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-benefit-3.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-cont">
                                            <strong>취업컨설팅 제공</strong><br>
                                            (이력서 작성,면접 컨설팅)
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-benefit-4.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-cont">
                                            성적우수자 시상<br>
                                            <strong>한경닷컴 사장명의 시상</strong>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-benefit-5.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-cont">
                                            훈련지원금 지급<br>
                                            (월 최대 31만6천원<br>
                                            +50만원)
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-benefit-6.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-cont">
                                            <strong>
                                                프로젝트 발표회<br>
                                                한경닷컴 사장명의 시상
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-benefit-7.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-cont">
                                            <strong>현업 전문가 특강</strong>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-benefit-8.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-cont">
                                            1인당 교육비지원<br>
                                            <strong>900만원 상당 전액 무료</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="course__section program">
                                <div class="course__con--tit">
                                    프로그램안내
                                </div> 
                                <div class="course__list grid2">
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-program-1.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-tit">웹 기초기술</div>
                                        <div class="item-cont">
                                            HTML, CSS, Javascript 기초 문법 및 개념, 웹 브라우저 동작원리 이해
                                        </div>    
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-program-2.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-tit">SW공학</div>
                                        <div class="item-cont">
                                            - SW개발 사이클<br>
                                            - 개발방법론
                                        </div>    
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-program-3.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-tit">데이터베이스</div>
                                        <div class="item-cont">
                                            데이터베이스에서 데이터를 가져와 웹 페이지에 표시하거나, 사용자 입력 저장을 위한 데이터베이스의 기본 개념 사용법 이해
                                        </div>    
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-program-4.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-tit">웹 접근성</div>
                                        <div class="item-cont">
                                            웹 접근성 기초 개념, 웹 접근성 관련 법규, 지침 소개, 웹 접근성 테스트 및 평가 방법 학습
                                        </div>    
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-program-5.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="item-tit">웹/금융 IT기술의 이해</div>
                                        <div class="item-cont">
                                            '오픈뱅킹'실습 프로젝트 진행과 금융산업에 대한 이해를 통해 완성도 높은 금융 IT 분야 실무 프로젝트를 진행
                                        </div>    
                                    </div>
                                </div>
                                <div class="course__con--tit">
                                    프로그래밍에 대한 이해와 실습
                                </div>
                                <div class="course__list grid2">
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-program-1.jpg" alt="" aria-hidden="true">    
                                        </div>
                                        <div class="item-tit">JAVA 프로그래밍</div>
                                        <div class="item-cont">
                                            JAVA / 클래스 / Thread / 자료구조등을 이용한 서버 개발 학습
                                        </div>    
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-program-2.jpg" alt="" aria-hidden="true">    
                                        </div>
                                        <div class="item-tit">자료구조</div>
                                        <div class="item-cont">
                                            데이터를 효율적으로 저장하고 관리하는 방법을 의미, 알고리즘의 성능과 효율성 향상
                                        </div>   
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/icon-program-3.jpg" alt="" aria-hidden="true">    
                                        </div>
                                        <div class="item-tit">라이브러리 / 프레임워크 활용법</div>
                                        <div class="item-cont">
                                            Spring Framework를 활용하여 웹프로그래밍을 개발하는 방법을 학습
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="course__section imgs">
                                <div class="course__img">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/img-info1.jpg" alt="Web 프로그래밍">    
                                </div>
                                <div class="course__img">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/img-info2.jpg" alt="DataBase">    
                                </div>
                                <div class="course__img">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/img-info3.jpg" alt="비전공자들이 프로그래밍을 잘 배우기 위한 방법">    
                                </div>
                                <div class="course__img">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/img-info4.jpg" alt="K-Digital Training">    
                                </div>
                                <div class="course__img">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/img-info5.jpg" alt="신청 및 문의">    
                                </div>
                                <div class="course__apply">
                                    <a href="#" class="btn--apply">신청하기</a>
                                </div>
                                <div class="course__img">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/course/backend/img-info6.jpg" alt="교육장소">    
                                </div>
                            </div>
                        </div>
                        <!-- // 백엔드과정 -->
                    </div>

                    <!-- 하단배너 -->
                    <div class="bottom-banner">
                        <a href="#">
                            <img src="https://static.hankyung.com/resource/itcampus/img/banner-diff.jpg" alt="과정차별성 확인하기">
                        </a>
                    </div>
                    <!-- 상담예약 -->
                    <div class="contact-btns">
<!--                         <button type="button" class="btn-contact">온라인 / 방문상담예약</button> -->
                        <!-- <a href="#" class="btn-contact">온라인 / 방문상담예약</a> [D] 링크 연결이 필요할 경우, a태그로 제작해주세요. -->
                        <a target="_blank" href="https://docs.google.com/forms/d/1LgS6EtoBJkjCAO0XA6txPC1_Ps0NC5w0HPADyZVwKlg/edit?pli=1" class="btn-contact">온라인 / 방문상담예약</a>
                    </div>
                </main>
                <footer class="footer">
                    <div class="footer-inner">
                        <strong class="foot-logo">한경닷컴 IT교육센터</strong>
                        <div class="foot-info">
                            <div class="info-item">주소 : 서울시 영등포구 양산로 53 월드메르디앙 비즈센터 401호</div>
                            <div class="info-item">대표자 : 정종태 l TEL 02-6340-2233 / 02-6340-2460</div>
                            <div class="info-item">
                                <a href="mailto:itcampus@hankyung.com">itcampus@hankyung.com</a>
                            </div>
                            <div class="info-item">사업자등록번호 : 104-81-47984</div>
                        </div>
                        <p class="copyright">Copyright ⓒ 2021 한경닷컴 IT교육센터 All Rights Reserved.</p>
                        <div class="foot-links">
                            <div class="item">
                                <a href="https://itcampus.hankyung.com/terms_service/">이용약관</a>
                            </div>
                            <div class="item">
                                <a href="https://itcampus.hankyung.com/%ea%b0%9c%ec%9d%b8%ec%a0%95%eb%b3%b4%ec%b7%a8%ea%b8%89%eb%b0%a9%ec%b9%a8/"><strong>개인정보취급방침</strong></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <aside class="aside">
                <div class="course-banner-slide">
                    <div class="item">
                        <p class="tit">
                            자바 웹 프로그래밍 분야에 취업하기 위한 비전공자/초보자 맞춤형 코스
                        </p>
                        <p class="desc">
                            비전공자들이 개발을 배울때에는 체계적인 학습이 필요합니다.<br>
                            비전공자 전용 과정은 체계적인 커리큘럼과 교육 방법을 통해 기본부터 차근차근 배우게 해줍니다. 비전공자 전용 과정은 체계적인 커리큘럼과 교육 방법을 통해 기본부터 차근차근 배우게 해줍니다.
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            파워있는마케터가 되는 데이터 분석 기반 디지털 마케팅 코스
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            노베이스에서 현직자로!
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            스스로 만드는 취업 가치! value up프로그램
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            데이터로 소통하는 찐 마케터 양성 코스
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>