<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교육과정 | 한경IT교육센터</title>

    <!-- og -->
    <meta name="title" content="교육과정 | 한경IT교육센터">
    <meta name="description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta name="author" content="한국경제">
    <meta property="og:title" content="교육과정 | 한경IT교육센터">
    <meta property="og:url" content="">
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta property="og:site_name" content="한경트래블러"/>
    <meta property="og:image" content="https://hkstatic.hankyung.com/resource/itcampus/img/og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="교육과정 | 한경IT교육센터">
    <meta name="twitter:description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta name="twitter:image:src" content="https://hkstatic.hankyung.com/resource/itcampus/img/og.jpg">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://www.hankyung.com/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="192x192" href="https://hkstatic.hankyung.com/resource/common/img/favicon/apple-touch-icon.png">
    <!-- css -->
    <link rel="stylesheet" href="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.css">
    <link rel="stylesheet" href="https://static.hankyung.com/resource/itcampus/css/common.css">
</head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <header class="header">
                    <div class="header-inner">
                        <h1 class="logo">
                            <a href="/">
                                <img src="https://static.hankyung.com/resource/itcampus/img/logo-itcampus.svg" alt="한국경제 IT교육센터">
                            </a>
                        </h1>
                        <div class="header-banner">
                            <img src="https://static.hankyung.com/resource/itcampus/img/banner-top.jpg" alt="디지털 이노베이션 교육기관 ​">
                        </div>
                    </div>
                </header>
                <nav class="quick-nav">
                    <ul class="gnb">
                         <li>
                            <a href="/course">
                                <span class="txt">교육과정</span>
                            </a>
                        </li>
                        <li>
                            <a href="/courseinfo">
                                <span class="txt">정부지원<br>사업안내</span>
                            </a>
                        </li>
                        <li class="on">
                            <a href="/centerinfo">
                                <span class="txt">교육센터<br>소개</span>
                            </a>
                        </li>
                        <li>
                            <a href="/project">
                                <span class="txt">
                                    <span class="is-pc">훈련생</span>
                                    프로젝트<br class="is-m">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="contact">
                                <span class="txt">상담센터</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <main class="contents centerinfo">
                    <!-- 교육센터소개: 교육센터소개 -->
                    <div class="center-visual">
                        <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/img-itcenter.jpg" alt="" aria-hidden="true">
                    </div>
                    <div class="define-items">
                        <div class="item">
                            <div class="tit">한경닷컴 IT교육센터</div>
                            <div class="subtit">Training Center Overview</div>
                            <div class="cont">
                                <p class="desc">
                                    한국경제신문의 온라인 미디어인 한경닷컴이 설립한 SW전문인력 양성을 취한 교육기관<br>
                                    2006년 JAVA개발자 양성교육을 시작, 현재 빅데이터, 인공지능, 블록체인, RPA등 4차 산업혁명 시대를 대비한 SW전문인력을 양성하는 전문 교육기관으로 성장
                                </p>
                                <p class="desc">
                                    설립 이래 인력난에 시달리는 중소 IT기업을 위해 기업 맞춤형 인력을 기업과 공동으로 SW개발자를 양성해 오고 있으며 고용노동부, 과학기술정보통신부, 서울산업진흥원 등 국가 및 지자체 산하 기관이 진행하는 다양한 정부지원 사업을 통해 SW개발자를 희망하는 취준생을 대상으로 자부담 없는 국비 교육을 전문으로 진행
                                </p>
                                <div class="box-items sm">
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/icon-itcenter-1.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="tit">전문성</div>
                                        <div class="cont">
                                            IT기업의 전문성에 기반해 실무 중심의 SW인력 양성
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/icon-itcenter-2.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="tit">신뢰성</div>
                                        <div class="cont">
                                            언론사의 신뢰성 토대로 협업이 가능한 미래인재 양성
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-icon">
                                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/icon-itcenter-3.svg" alt="" aria-hidden="true">
                                        </div>
                                        <div class="tit">국비교육</div>
                                        <div class="cont">
                                            노동부, 과기부, 지자체 등 정부기관이 지원하는 국비교육 전문 기관
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tit">한경닷컴 IT교육센터 연혁</div>
                            <div class="history-list-wrap">
                                <ul class="history-list">
                                    <li>
                                        <div class="year">06~10</div>
                                        <div class="detail-list">
                                            2006 평생교육시설 지정<br>
                                            2006 JAVA, 닷넷 개발 과정 시작<br>
                                            2007 교육장 이전<br>
                                            2008 직업능력개발훈련시설 지정<br>
                                            2009 KITRI 이공계 연수 사업<br>
                                            2010 노동부 계좌제 과정 운영
                                        </div>
                                    </li>
                                    <li>
                                        <div class="year">11~16</div>
                                        <div class="detail-list">
                                            2011 노동부 훈련기관 평가 A등급(전국 2위)<br>
                                            2012 노동부 훈련기관 평가 A등급(전국 26위)<br>
                                            2013 노동부 우수 훈련기관 표창<br>
                                            2013 SW전문인력 양성기관 지정<br>
                                            2015 국가기간전략산업직종훈련 과정 진행<br>
                                            2016 국가인적자원개발 컨소시엄 파트너 기관<br>
                                            2016 노동부 인증 우수 훈련기관 지정
                                        </div>
                                    </li>  
                                    <li>
                                        <div class="year">17~20</div>
                                        <div class="detail-list">
                                            2017 SW전문인력양성기관 재지정<br>
                                            2017 국가인적자원개발 컨소시엄 파트너 기관<br>
                                            2019 IITP TOPCIT MOU 체결<br>
                                            2019 혁신성장 청년인재 집중양성사업 참여<br>
                                            2019 SBA 기업 수요 맞춤형 사업자 선정<br>
                                            2020 기업 맞춤형 공동훈련센터 파트너 기관<br>
                                            2020 산인공 4차 산업혁명 공통역량과정<br>
                                            2020 노동부 K디지털트레이닝 사업기관 지정
                                        </div>
                                    </li>  
                                    <li>
                                        <div class="year">2021</div>
                                        <div class="detail-list">
                                            과기부 SW전문인력양성기관지정<br>
                                            혁신성장청년인재집중양성기관 주관<br>
                                            노동부 K디지털트레이닝 사업운영<br>
                                            노동부 스마트혼합훈련 과정 운영
                                        </div>
                                    </li> 
                                    <li>
                                        <div class="year">2022</div>
                                        <div class="detail-list">
                                            K디지털트레이닝 신기술 아카데이<br>
                                            K디지털트레이닝 핀테크, RPA, 블록체인 과정 진행<br>
                                            과기부 디지털인재언라이언스 참여
                                        </div>
                                    </li>  
                                    <li>
                                        <div class="year">2023</div>
                                        <div class="detail-list">
                                            K디지털트레이닝 선도기업 지정<br>
                                            K디지털트레이닝 인공지능, 디지털마케팅, 백엔드 과정 등 진행<br>
                                            청년친화형 기업 ESG 지원 사업 참여<br>
                                            서울시 뉴딜 핀테크 과정 운영
                                        </div>
                                    </li>     
                                </ul>        
                            </div>
                        </div>
                    </div>

                    <!-- 상담예약 -->
                    <div class="contact-btns">
                        <button type="button" class="btn-contact">온라인 / 방문상담예약</button>
                        <!-- <a href="#" class="btn-contact">온라인 / 방문상담예약</a> [D] 링크 연결이 필요할 경우, a태그로 제작해주세요. -->
                    </div>
                </main>
                <footer class="footer">
                    <div class="footer-inner">
                        <strong class="foot-logo">한경닷컴 IT교육센터</strong>
                        <div class="foot-info">
                            <div class="info-item">주소 : 서울시 영등포구 양산로 53 월드메르디앙 비즈센터 401호</div>
                            <div class="info-item">대표자 : 정종태 l TEL 02-6340-2233 / 02-6340-2460</div>
                            <div class="info-item">
                                <a href="mailto:itcampus@hankyung.com">itcampus@hankyung.com</a>
                            </div>
                            <div class="info-item">사업자등록번호 : 104-81-47984</div>
                        </div>
                        <p class="copyright">Copyright ⓒ 2021 한경닷컴 IT교육센터 All Rights Reserved.</p>
                        <div class="foot-links">
                            <div class="item">
                                <a href="https://itcampus.hankyung.com/terms_service/">이용약관</a>
                            </div>
                            <div class="item">
                                <a href="https://itcampus.hankyung.com/%ea%b0%9c%ec%9d%b8%ec%a0%95%eb%b3%b4%ec%b7%a8%ea%b8%89%eb%b0%a9%ec%b9%a8/"><strong>개인정보취급방침</strong></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <aside class="aside">
                <div class="course-banner-slide">
                    <div class="item">
                        <p class="tit">
                            자바 웹 프로그래밍 분야에 취업하기 위한 비전공자/초보자 맞춤형 코스
                        </p>
                        <p class="desc">
                            비전공자들이 개발을 배울때에는 체계적인 학습이 필요합니다.<br>
                            비전공자 전용 과정은 체계적인 커리큘럼과 교육 방법을 통해 기본부터 차근차근 배우게 해줍니다. 비전공자 전용 과정은 체계적인 커리큘럼과 교육 방법을 통해 기본부터 차근차근 배우게 해줍니다.
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            파워있는마케터가 되는 데이터 분석 기반 디지털 마케팅 코스
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            노베이스에서 현직자로!
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            스스로 만드는 취업 가치! value up프로그램
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            데이터로 소통하는 찐 마케터 양성 코스
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>