<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents centerinfo">
                    <!-- 교육센터소개: 교육사업연혁 -->
                    <div class="page-tit-wrap">
                        <h2 class="page-tit">교육사업연혁</h2>
                    </div>
                    <div class="history-list-wrap">
                        <ul class="history-list type-row">
                            <li>
                                <div class="year">2021년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>03월 과기부지정 ‘SW전문인력양성기관’지정 및 지원</li>
                                        <li>04월 IITP ‘혁신성장 청년인재 집중양성사업’ 불록체인 분야 주관기관 선정</li>
                                        <li>09월 IITP ‘혁신성장 청년인재 집중양성사업’ 인공지능 분야 주관기관 선정</li>
                                    </ul>  
                                </div>
                            </li>
                            <li>
                                <div class="year">2020년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>05월 산인공 기업맞춤형 공동훈련센터 파트너기관선정 및 운영, 3년</li>
                                        <li>06월 산인공 4차 산업혁명 분야 공통역량과정 운영 사업자 선정</li>
                                        <li>09월 고용노동부 3년 인증 훈련기관 지정</li>
                                        <li>11월 고용노동부 K-Digital Trainning 사업 운영기관 지정</li>
                                    </ul>  
                                </div>
                            </li> 
                            <li>
                                <div class="year">2019년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>1월 IIT01P TOPCIT MOU체결</li>
                                        <li>04월 IITP ‘혁신성장 청년인재 집중양성사업’ 빅데이터 분야 참여기관 선정</li>
                                        <li>05월 서울산업진흥원 ‘기업 수요 맞춤형 사업’ 블록체인 분야 교육 기관 선정</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2018년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>국가기간전략산업직종훈련 NCS 표준 SW과정 진행(JAVA, 웹, 웹앱 등)</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2017년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>국가인적자원개발 컨소시엄 파트너 기관 선정 및 운영(재직자 및 실업자)</li>
                                        <li>미래창조과학부(現 과학기술정보통신부) SW전문인력 양성기관</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2016년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>08월 미래창조과학부(現 과학기술정보통신부) SW전문인력 양성기관 재지정</li>
                                        <li>09월 고용노동부 인증 우수 훈련기관 지정</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2015년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>01월 국가인적자원개발 컨소시엄 파트너 기관 선정 및 운영</li>
                                        <li>02월 국가기간전략산업직종훈련 NCS 표준 SW과정 진행(4개 과정)</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2014년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>미래창조과학부(現 과학기술정보통신부) SW전문인력 양성기관 지정</li>
                                    </ul>  
                                </div>
                            </li>             
                            <li>
                                <div class="year">2013년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>01월 고용노동부 2012년 우수훈련기관 표창</li>
                                        <li>03월 미래창조과학부(現 과학기술정보통신부) SW전문인력 양성기관 지정</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2012년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>11월 고용노동부 훈련기관평가 A등급(전국 6위)</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2011년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>11월 고용노동부 훈련기관평가 A등급(전국 2위)</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2010년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>6월 고용노동부 계좌제 과정 운영 개시</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2009년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>6월 한국정보기술연구원(KITRI), 교과부 이공계 연수사업</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2008년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>12월 직업능력개발훈련시설 지정</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2007년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>05월 교육시설 이전(영등포구 양평동)</li>
                                    </ul>  
                                </div>
                            </li>  
                            <li>
                                <div class="year">2006년</div>
                                <div class="detail-list">
                                    <ul class="list-dash">
                                        <li>02월 평생교육시설 지정</li>
                                        <li>06월 JAVA 개발자 과정 시작</li>
                                        <li>12월 닷넷개발자 과정 시작</li>
                                    </ul>  
                                </div>
                            </li>   
                        </ul>        
                    </div>

                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
        <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>