<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents centerinfo">
                    <!-- 교육센터소개 -->
                    <div class="centerinfo-list">
                        <div class="item">
                            <a href="/centerinfo/company" class="link-block">
                                <div class="item-icon">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/icon-1.svg" alt="" aria-hidden="true">
                                </div>
                                <div class="tit">회사소개</div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/centerinfo/itcenter" class="link-block">
                                <div class="item-icon">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/icon-2.svg" alt="" aria-hidden="true">
                                </div>
                                <div class="tit">기관소개</div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/centerinfo/history" class="link-block">
                                <div class="item-icon">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/icon-3.svg" alt="" aria-hidden="true">
                                </div>
                                <div class="tit">교육사업연혁</div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/centerinfo/info" class="link-block">
                                <div class="item-icon">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/icon-4.svg" alt="" aria-hidden="true">
                                </div>
                                <div class="tit">교육시설안내</div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/centerinfo/direction" class="link-block">
                                <div class="item-icon">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/icon-5.svg" alt="" aria-hidden="true">
                                </div>
                                <div class="tit">찾아오시는길</div>
                            </a>
                        </div>
                    </div>
                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
           <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>