<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents centerinfo">
                    <!-- 교육센터소개: 교육시설 안내 -->
                    <div class="page-tit-wrap">
                        <h2 class="page-tit">교육시설 안내</h2>
                    </div>
                    <div class="center-pictures">
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-01.jpg" alt="1강의실">
                            <figcaption>1강의실</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-02.jpg" alt="2강의실">
                            <figcaption>2강의실</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-03.jpg" alt="3강의실">
                            <figcaption>3강의실</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-04.jpg" alt="4강의실">
                            <figcaption>4강의실</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-05.jpg" alt="5강의실">
                            <figcaption>5강의실</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-06.jpg" alt="로비">
                            <figcaption>로비</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-07.jpg" alt="미팅룸">
                            <figcaption>미팅룸</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-08.jpg" alt="회의실">
                            <figcaption>회의실</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-09.jpg" alt="휴게공간">
                            <figcaption>휴게공간</figcaption>
                        </figure>
                        <figure class="item">
                            <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/facility-10.jpg" alt="외부전경">
                            <figcaption>외부전경</figcaption>
                        </figure>
                    </div>

                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
           <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>