<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents centerinfo">
                    <!-- 교육센터소개: 회사소개 -->
                    <div class="center-visual">
                        <img src="https://static.hankyung.com/resource/itcampus/img/centerinfo/img-company.jpg" alt="" aria-hidden="true">
                    </div>
                    <div class="define-items">
                        <div class="item">
                            <div class="tit">회사소개</div>
                            <div class="subtit">최초의 온라인 서비스 미디어</div>
                            <div class="cont">
                                1986년 한국경제신문 뉴미디어국에서 KETEL과 HiTEL로 시작되는 국내 최초 온라인 서비스를 통해 보유한 IT 노하우를 토대로 1999년 ‘한경닷컴'이라는 온라인 미디어로 새롭게 출발
                            </div>
                        </div>
                        <div class="item">
                            <div class="tit">25년의 역사를 가진 온라인 미디어 선도기업 & IT기업</div>
                            <div class="cont">
                                한국경제신문, 한경TV, 한경비즈니스, 텐아시아 등 한국경제신문 미디어그룹의 다양한 온라인 뉴스 콘텐츠 서비스 제공하고 있으며 증권·금융, 부동산, 프로그래머틱기반 광고 마케팅, SW전문인력 양성 등 IT분야에서 다양한 사업 활동과 영향력을 보유한선도적인 아이티 기업
                            </div>
                        </div>
                        <div class="item">
                            <div class="tit">한경닷컴 연혁</div>
                            <div class="history-list-wrap">
                                <ul class="history-list">
                                    <li>
                                        <div class="year">99~05</div>
                                        <div class="detail-list">
                                            1999 한경닷컴 출범<br>
                                            2000 Hankyung.com오픈<br>
                                            2001 K-Java 무선 인터넷 서비스<br>
                                            2002 한경컨센서스<br>
                                            2004 한경마켓리더스<br>
                                            2005 골프Plus오픈
                                        </div>
                                    </li>
                                    <li>
                                        <div class="year">06~10</div>
                                        <div class="detail-list">
                                            2006 한경스타워즈 대학생대회<br>
                                            2007 블로그서비스 오픈<br>
                                            2008 경제교실 S한경 오픈<br>
                                            2009 KRX IR EXPO<br>
                                            2010 모바일 웹, 아이폰 뉴스앱 출시<br>
                                            2010 국내언론최초 아이패드앱 출시<br>
                                            2010 스마트폰 증권앱 출시
                                        </div>
                                    </li>
                                    <li>
                                        <div class="year">11~15</div>
                                        <div class="detail-list">
                                            2011 안드로이드 태블릿앱 출시<br>
                                            2011 해외문화홍보원 사이트 고도화<br>
                                            2012 문광부 e브리핑 시스템 위탁<br>
                                            2013 마켓인사이트 앱출시<br>
                                            2014 DB인사이트 서비스 오픈<br>
                                            2014 한경 LIVE 서비스 오픈<br>
                                            2015 M뱅킹 대상
                                        </div>
                                    </li>  
                                    <li>
                                        <div class="year">16~17</div>
                                        <div class="detail-list">
                                            2016 구글 AMP적용<br>
                                            2016 한경 핀테크대상 개최<br>
                                            2017 한경 미디어 그룹 통합회원 구축<br>
                                            2017 한경헬스 구축
                                        </div>
                                    </li>  
                                    <li>
                                        <div class="year">20~23</div>
                                        <div class="detail-list">
                                            2020 가상자산 투자정보 ‘블루밍 비트' 오픈<br>
                                            2020 한경 바이오 인사이트오픈<br>
                                            2021 한경 앱 아이디어 챌린지 개최<br>
                                            2022 한경글로벌마켓 출범<br>
                                            2023 한경유레카 오픈
                                        </div>
                                    </li> 
                                    <li>
                                        <div class="year">18~19</div>
                                        <div class="detail-list">
                                            2018 엣지 서비스 오픈<br>
                                            2018 코리아 블록체인 엑스포 개최<br>
                                            2018 M-Valler 토크 콘서트 개최<br>
                                            2018 한경 CEO포럼 시작<br>
                                            2019 한경 디지털 ABCD 포럼 시작
                                        </div>
                                    </li>     
                                </ul>        
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
          <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>