<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>과정수정폼</title>

    <!-- Custom fonts for this template-->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">
    
    <!-- CK_Editor -->
    <script type="text/javascript" th:src="@{/html/egovframework/com/cmm/utl/ckeditor/ckeditor.js?t=B37D54V}" ></script>
 
    <!-- Custom styles for this page -->
<!--     <link href="/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/main">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ITCAMPUS Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
<!--             <li class="nav-item"> -->
<!--                 <a class="nav-link" href="index.html"> -->
<!--                     <i class="fas fa-fw fa-tachometer-alt"></i> -->
<!--                     <span>Dashboard</span></a> -->
<!--             </li> -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Hankyung.com
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/course">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>과정등록</span>
                </a>
                <a class="nav-link collapsed" href="/admin/postcourse">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>후기등록</span>
                </a>
                <a class="nav-link collapsed" href="/admin/project">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>훈련생 프로젝트등록</span>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">[[${session.loginUser.mname}]]</span>
                                <img class="img-profile rounded-circle"
                                    src="/bootstrap/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">과정수정</h1>
					  <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Course</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            	<form id="cform"  method="post" enctype="multipart/form-data">
	                                <input type="hidden" name="cid" th:value="${cDetail.cid}"/>
                        			<input type="hidden" name="mno" th:value="${cDetail.membervo.mno}"/>
                        			<input type="hidden" name="cuse" th:value="${cDetail.cuse}"/>
	                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                                    <tbody>
	                                    	<tr>
	                                            <th>등록자</th>
	                                            <td th:text="${cDetail.membervo.mid}"></td>
	                                        </tr>
	                                        <tr>
	                                            <th>과정명</th>
	                                            <td><input type="text" th:value="${cDetail.cname}"   class="form-control" name="cname" required="required" /></td>
	                                        </tr>
	                                        <tr>
	                                            <th>카테고리</th>
	                                            <td>
	                                            	<div class="row">                  
													    <div class="col-2">
		                                            	<select name="ccate" class="form-control" required="required">
		                                             		<option value="KDT-1" th:selected="${cDetail.ccate=='KDT-1'}">신기술</option>
		                                            		<option value="KDT-2" th:selected="${cDetail.ccate=='KDT-2'}">선도기업</option>
		                                            		<option value="KDT-3" th:selected="${cDetail.ccate=='KDT-3'}">KDT기타</option>
		                                            		<option value="NTL-1" th:selected="${cDetail.ccate=='NTL-1'}">국가기간전략</option>
		                                            	</select>  
													    </div>
													</div>
	                                            </td>
	                                        </tr>
	                                        <tr>
	                                            <th>교육기간</th>
	                                            <td>
		                                            <div class="row">
													    <span class="input-group-text bg-transparent border-0" >시작일:</span>                                             
													    <div class="col-2">
													        <input type="date" th:value="${cDetail.csdate}" class="form-control" name="csdate" required="required">
													    </div>
													    <span class="input-group-text bg-transparent border-0">~</span>
													    <span class="input-group-text bg-transparent border-0" >종료일:</span>   
													    <div class="col-2">
													        <input type="date" th:value="${cDetail.cedate}" class="form-control" name="cedate" required="required">
													    </div>
													</div>
	                                            </td>
	                                        </tr>
	                                        <tr>
	                                            <th>모집인원</th>
	                                            <td><input type="number" th:value="${cDetail.cnumber}" class="form-control" name="cnumber" required="required"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th>훈련수당</th>
	                                            <td><input type="text" th:value="${cDetail.cmoney}" class="form-control" name="cmoney" required="required"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th>과정상세</th>
	                                            <td><textarea id="description" th:text="${cDetail.ccontent}" name="ccontent" required="required"></textarea></td>
	                                        </tr>
	                                        <tr>
	                                            <th>대표이미지</th>
	                                            <td>
	                                            	<div class="row">                  
														<div class="col-3">
															<input type="hidden" name="cthumb" th:value="${cDetail.cthumb}"/>
		                                            		<input type="file" 
		                                            		 accept="/file/*" class="form-control" name="cthumbfile" onchange="setThumbnail(event);"/>                                           	
		                                            	</div>
													</div>
	                                            	<div id="image_container" style="width:100%;height:100%;padding:10px 5px;">
	                                            		<img alt="대표이미지" th:src="${cDetail.cthumb}" >
	                                            	</div>
	                                            </td>
	                                        </tr>
<!-- 	                                        <tr> -->
<!-- 	                                            <th>사용여부</th> -->
<!-- 	                                            <td> -->
<!-- 	                                            	<div class="row">                   -->
<!-- 													    <div class="col-1"> -->
<!-- 		                                            	<select name="cuse" class="form-control" required="required"> -->
<!-- 		                                            		<option value="Y" th:selected="${cDetail.cuse=='Y'}">Y</option> -->
<!-- 		                                            		<option value="N" th:selected="${cDetail.cuse=='N'}">N</option> -->
<!-- 		                                            	</select>   -->
<!-- 													    </div> -->
<!-- 													</div> -->
<!-- 	                                            </td> -->
<!-- 	                                        </tr> -->
	                                        <tr>
	                                        	<td colspan="2">
	                                        		<span class="float-right">
	                                        			<button class="btn btn-primary " id="list" type="button" style="width:100px;">목록</button>
													    <button class="btn btn-primary " id="update" type="button" style="width:100px;">수정</button>
													    <button class="btn btn-primary " id="delete" type="button" style="width:100px;">삭제</button>
													    <button class="btn btn-primary " id="copy"   type="button" style="width:100px;">복사</button>                                        	
	                                        		</span>
												</td>
	                                        </tr>
	                                    </tbody>
	                                </table>
								</form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
				
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; itcampus.hankyung.com 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/admin/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/bootstrap/js/sb-admin-2.min.js"></script>
    
 	<!-- Page level plugins -->
<!--     <script src="/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script> -->
<!--     <script src="/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script> -->

    <!-- Page level custom scripts -->
    <script src="/bootstrap/js/demo/datatables-demo.js"></script>
    
    <!-- CKEditor를 초기화하는 스크립트 -->
    <script>
        CKEDITOR.replace('description',{
        	toolbar:[
        		      { name: 'document', items: [ 'Source', '-', 'NewPage', 'Preview', '-', 'Templates' ] },//이름과 도구모음그룹을 정의
        		      [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],	// 이름없이 도구모음그룹을 정의
//         		      '/',										// 줄바꿈 - 다음 그룹이 새로운 라인에 배치 됨
        		      { name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
        		      {name: 'styles', items:['Styles','Format','Font','FontSize']}
        	        ]
        });
        
        //파일업로드 썸네일 미리보기
		function setThumbnail(event) {
		    var reader = new FileReader();
		
		    reader.onload = function(event) {
		        var img = document.createElement("img");
		        img.setAttribute("src", event.target.result);
		        
		        // 이전에 추가된 이미지가 있으면 제거
		        var container = document.querySelector("div#image_container");
		        while (container.firstChild) {
		            container.removeChild(container.firstChild);
		        }
		        // 새로운 이미지 추가
		        container.appendChild(img);
		    };
		
		    reader.readAsDataURL(event.target.files[0]);
		}
        
        //수정,삭제,복사에대한 form 요청 URL 적용
        $(function(){
        	$("#list").click(function(){     			
        		location.href="/admin/course";
        	});
        	$("#update").click(function(){
        		if(confirm("수정하시겠습니까?")){
	        		var $cForm=$("#cform");
	        		$cForm.attr("action","/admin/course/update");
	        		document.getElementById("cform").submit();        			
        		}
        	});
        	$("#delete").click(function(){
        		if(confirm("정말 삭제하시겠습니까?")){
        			location.href="/admin/course/delete?cid=[[${cDetail.cid}]]";
        		}
        	});
        	$("#copy").click(function(){
        		if(confirm("과정을 복사하시겠습니까?")){
        			location.href="/admin/course/copy?cid=[[${cDetail.cid}]]";
        		}
        	});
        });
    </script>
</body>

</html>