<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교육과정 | 한경IT교육센터</title>

    <!-- og -->
    <meta name="title" content="교육과정 | 한경IT교육센터">
    <meta name="description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta name="author" content="한국경제">
    <meta property="og:title" content="교육과정 | 한경IT교육센터">
    <meta property="og:url" content="">
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta property="og:site_name" content="한경트래블러"/>
    <meta property="og:image" content="https://hkstatic.hankyung.com/resource/itcampus/img/og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="교육과정 | 한경IT교육센터">
    <meta name="twitter:description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta name="twitter:image:src" content="https://hkstatic.hankyung.com/resource/itcampus/img/og.jpg">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://www.hankyung.com/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="192x192" href="https://hkstatic.hankyung.com/resource/common/img/favicon/apple-touch-icon.png">
    <!-- css -->
    <link rel="stylesheet" href="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.css">
    <link rel="stylesheet" href="https://static.hankyung.com/resource/itcampus/css/common.css">
</head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <header class="header">
                    <div class="header-inner">
                        <h1 class="logo">
                            <a href="/">
                                <img src="https://static.hankyung.com/resource/itcampus/img/logo-itcampus.svg" alt="한국경제 IT교육센터">
                            </a>
                        </h1>
                        <div class="header-banner">
                            <img src="https://static.hankyung.com/resource/itcampus/img/banner-top.jpg" alt="디지털 이노베이션 교육기관 ​">
                        </div>
                    </div>
                </header>
                <nav class="quick-nav">
                    <ul class="gnb">
                         <li>
                            <a href="/course">
                                <span class="txt">교육과정</span>
                            </a>
                        </li>
                        <li class="on">
                            <a href="/courseinfo">
                                <span class="txt">정부지원<br>사업안내</span>
                            </a>
                        </li>
                        <li>
                            <a href="/centerinfo">
                                <span class="txt">교육센터<br>소개</span>
                            </a>
                        </li>
                        <li>
                            <a href="/project">
                                <span class="txt">
                                    <span class="is-pc">훈련생</span>
                                    프로젝트<br class="is-m">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                <span class="txt">상담센터</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <main class="contents courseinfo">
                    <!-- 정부지원사업 목록 -->
                    <div class="courseinfo-list">
                        <div class="item">
                            <a href="/courseinfo/kdigital" class="link-block">
                                <div class="tit">K-디지털 트레이닝</div>
                                <div class="item-cont">
                                    <p class="txt">K-디지털 트레이닝은, 민간 혁신훈련기관, KT·삼성 등 선도기업, 서울대·한양대와 같은 우수 대학 등이 참여하여, - AI, 빅데이터 등 디지털 신기술을 배우고 실전에서 활용할 수 있도록 다양한 훈련과정을 제공하는 직업훈련사업 * ’23년부터 반도체‧로봇‧3D프린팅 등 첨단산업 분야까지 지원범위 확대</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/courseinfo/kua" class="link-block">
                                <div class="tit">국민취업지원제도</div>
                                <div class="item-cont">
                                    <p class="txt">취업을 원하는 사람에게 취업지원서비스를 종합적으로 제공하고, 저소득 구직자에게는 생계를 위한 최소한의 소득도 지원합니다. 국민취업지원제도 참여 자격요건을 갖춘 사람에게 고용복지플러스센터에서 관련 취업지원서비스와 수당(비용)을 지원합니다.</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/courseinfo/card" class="link-block">
                                <div class="tit">국민내일배움카드</div>
                                <div class="item-cont">
                                    <p class="txt">급격한 기술발전에 적응하고 노동시장 변화에 대응하는 사회안전망 차원에서 생애에 걸친 역량개발 향상 등을 위해 국민 스스로 직업능력개발훈련을 실시할 수 있도록 훈련비 등을 지원합니다.</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/courseinfo/national" class="link-block">
                                <div class="tit">국가기간·전략산업직종 훈련</div>
                                <div class="item-cont">
                                    <p class="txt">국가의 기간산업 및 전략산업 등의 산업분야에서 부족하거나 수요가 증가할 것으로 예상되는 직종에 대한 직업능력개발훈련을 실시하여 기업에서 필요로 하는 기술·기능 인력 양성·공급합니다.</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/courseinfo/consortium" class="link-block">
                                <div class="tit">국가인적자원개발 컨소시엄</div>
                                <div class="item-cont">
                                    <p class="txt">중소기업 재직근로자의 직업훈련 참여 확대와 신성장동력분야, 융복합분야 등의 전략산업 전문인력육성, 산업계 주도의 지역별 직업훈련기반 조성 등을 위해 다수의 중소기업과 훈련 컨소시엄(협약)을 구성한 기업 등에게 공동훈련에 필요한 훈련 인프라와 훈련비 등을 지원하는 사업입니다</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a target="_blank" href="https://www.hrd.go.kr/hrdp/ma/pmmao/newIndexRenewal.do" class="link-block">
                                <div class="tit">HRD에서 자세한 내용 알아보기</div>
                                <div class="item-icon">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/icon-hrd-more.svg" alt="" aria-hidden="true">
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- 상담예약 -->
                    <div class="contact-btns">
<!--                         <button type="button" class="btn-contact">온라인 / 방문상담예약</button> -->
                        <!-- <a href="#" class="btn-contact">온라인 / 방문상담예약</a> [D] 링크 연결이 필요할 경우, a태그로 제작해주세요. -->
                        <a target="_blank" href="https://docs.google.com/forms/d/1LgS6EtoBJkjCAO0XA6txPC1_Ps0NC5w0HPADyZVwKlg/edit?pli=1" class="btn-contact">온라인 / 방문상담예약</a>
                    </div>
                </main>
                <footer class="footer">
                    <div class="footer-inner">
                        <strong class="foot-logo">한경닷컴 IT교육센터</strong>
                        <div class="foot-info">
                            <div class="info-item">주소 : 서울시 영등포구 양산로 53 월드메르디앙 비즈센터 401호</div>
                            <div class="info-item">대표자 : 정종태 l TEL 02-6340-2233 / 02-6340-2460</div>
                            <div class="info-item">
                                <a href="mailto:itcampus@hankyung.com">itcampus@hankyung.com</a>
                            </div>
                            <div class="info-item">사업자등록번호 : 104-81-47984</div>
                        </div>
                        <p class="copyright">Copyright ⓒ 2021 한경닷컴 IT교육센터 All Rights Reserved.</p>
                        <div class="foot-links">
                            <div class="item">
                                <a href="https://itcampus.hankyung.com/terms_service/">이용약관</a>
                            </div>
                            <div class="item">
                                <a href="https://itcampus.hankyung.com/%ea%b0%9c%ec%9d%b8%ec%a0%95%eb%b3%b4%ec%b7%a8%ea%b8%89%eb%b0%a9%ec%b9%a8/"><strong>개인정보취급방침</strong></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
          <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>