<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div th:replace="fragments/homepage_tagmanager :: homepage_tagmanager"></div>

    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents courseinfo">
                    <!-- 정부지원사업: 국가기간 전략산업직종 훈련 -->
                    <div class="page-tit-wrap">
                        <h2 class="page-tit">국가기간 전략산업직종 훈련</h2>
                    </div>
                    <div class="course-detail national">
                        <div class="course-banner">
                            <div class="tit">국가기간<br class="is-m"> 전략산업직종 훈련</div>
                            <p class="txt">
                                정부지원사업 안내
                            </p>
                        </div>
                        <div class="define-items">
                            <div class="item">
                                <div class="tit">목적</div>
                                <div class="cont">
                                    국가의 기간산업 및 전략산업 등의 <span class="color-mark">산업분야에서 인력이 부족하거나 인력수요 증대가 예상되는 직종 기술·기능인력을 양성하는 직업능력개발훈련에 대하여 훈련비 지원</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">지원대상</div>
                                <div class="cont">
                                    <p class="desc"><strong>국민 누구나 가능</strong>(국민내일배움카드를 발급받아야 함)</p>
                                    <p class="desc sm">다만, 현직공무원, 사립학교 교직원, 졸업예정자 이외 재학생, 졸업예정학년이 아닌 고등학교 재학생, 졸업까지의 수업연한이 2년 초과하여 남은 대학 재학생, 연 매출 4억원 이상의 자영업자, 월 임금 300만원 이상인 대규모기업종사자(45세미만), 월평균소득 500만원 이상인 특수형태근로종사자 등은 제외</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">지원내용<span>(지원한도포함)</span></div>
                                <div class="cont">
                                    <p class="desc">
                                        <strong>훈련비 전액</strong>(1회에 한함)<br>
                                        140시간 이상 과정 수강 시 훈련장려금 월 최대 20만원 지급
                                    </p>
                                    <p class="desc sm">단위기간(1개월)별 출석률이 80%이상인 경우 지원(실업급여 수급 중이거나 소득이 있는 경우 등에는 일부 또는 전액 부지급)</p>
                                    <div class="box-items sm">
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="https://static.hankyung.com/resource/itcampus/img/course/national/icon-1.svg" alt="" aria-hidden="true">
                                            </div>
                                            <div class="tit">훈련비 지원</div>
                                            <div class="cont">
                                                최대 <strong class="txt-accent">100%</strong>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="https://static.hankyung.com/resource/itcampus/img/course/national/icon-2.svg" alt="" aria-hidden="true">
                                            </div>
                                            <div class="tit">훈련장려금 지원</div>
                                            <div class="cont">
                                                월 최대 <strong class="txt-accent">20만원</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">지원절차</div>
                                <div class="cont">
                                    <div class="box-items sm">
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step01</strong>
                                            </div>
                                            <div class="tit">훈련과정 선정계획공고 및 선정</div>
                                            <div class="cont">
                                                고용부·직업능력심사평가원
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step02</strong>
                                            </div>
                                            <div class="tit">국민내일배움카드 신청 및 발급</div>
                                            <div class="cont">
                                                훈련생
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step03</strong>
                                            </div>
                                            <div class="tit">훈련과정 신청</div>
                                            <div class="cont">
                                                훈련생
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step04</strong>
                                            </div>
                                            <div class="tit">훈련생 선발 및 실시</div>
                                            <div class="cont">
                                                훈련생·훈련기관
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step05</strong>
                                            </div>
                                            <div class="tit">훈련비 등 지급</div>
                                            <div class="cont">
                                                고용센터
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
            <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>