<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents courseinfo">
                    <!-- 정부지원사업 목록 -->
                    <div class="courseinfo-list">
                        <div class="item">
                            <a href="/courseinfo/kdigital" class="link-block">
                                <div class="tit">K-디지털 트레이닝</div>
                                <div class="item-cont">
                                    <p class="txt">K-디지털 트레이닝은, 민간 혁신훈련기관, KT·삼성 등 선도기업, 서울대·한양대와 같은 우수 대학 등이 참여하여, - AI, 빅데이터 등 디지털 신기술을 배우고 실전에서 활용할 수 있도록 다양한 훈련과정을 제공하는 직업훈련사업 * ’23년부터 반도체‧로봇‧3D프린팅 등 첨단산업 분야까지 지원범위 확대</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/courseinfo/kua" class="link-block">
                                <div class="tit">국민취업지원제도</div>
                                <div class="item-cont">
                                    <p class="txt">취업을 원하는 사람에게 취업지원서비스를 종합적으로 제공하고, 저소득 구직자에게는 생계를 위한 최소한의 소득도 지원합니다. 국민취업지원제도 참여 자격요건을 갖춘 사람에게 고용복지플러스센터에서 관련 취업지원서비스와 수당(비용)을 지원합니다.</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/courseinfo/card" class="link-block">
                                <div class="tit">국민내일배움카드</div>
                                <div class="item-cont">
                                    <p class="txt">급격한 기술발전에 적응하고 노동시장 변화에 대응하는 사회안전망 차원에서 생애에 걸친 역량개발 향상 등을 위해 국민 스스로 직업능력개발훈련을 실시할 수 있도록 훈련비 등을 지원합니다.</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/courseinfo/national" class="link-block">
                                <div class="tit">국가기간·전략산업직종 훈련</div>
                                <div class="item-cont">
                                    <p class="txt">국가의 기간산업 및 전략산업 등의 산업분야에서 부족하거나 수요가 증가할 것으로 예상되는 직종에 대한 직업능력개발훈련을 실시하여 기업에서 필요로 하는 기술·기능 인력 양성·공급합니다.</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/courseinfo/consortium" class="link-block">
                                <div class="tit">국가인적자원개발 컨소시엄</div>
                                <div class="item-cont">
                                    <p class="txt">중소기업 재직근로자의 직업훈련 참여 확대와 신성장동력분야, 융복합분야 등의 전략산업 전문인력육성, 산업계 주도의 지역별 직업훈련기반 조성 등을 위해 다수의 중소기업과 훈련 컨소시엄(협약)을 구성한 기업 등에게 공동훈련에 필요한 훈련 인프라와 훈련비 등을 지원하는 사업입니다</p>
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a target="_blank" href="https://www.hrd.go.kr/hrdp/ma/pmmao/newIndexRenewal.do" class="link-block">
                                <div class="tit">HRD에서 자세한 내용 알아보기</div>
                                <div class="item-icon">
                                    <img src="https://static.hankyung.com/resource/itcampus/img/icon-hrd-more.svg" alt="" aria-hidden="true">
                                </div>
                                <div class="btns">
                                    <div class="btn-default">자세히보기</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
				<div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
          <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>