<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents courseinfo">
                    <!-- 정부지원사업: 국민취업지원제도 -->
                    <div class="page-tit-wrap">
                        <h2 class="page-tit">국민취업지원제도 안내</h2>
                        <p class="desc">구직자 및 근로자와 기업(사업주)들의 다양한 요구와 필요에 맞는 직업능력개발 훈련지원 프로그램을 소개합니다.</p>
                    </div>
                    <div class="course-detail kua">
                        <div class="course-banner">
                            <div class="tit">국민취업지원제도</div>
                            <p class="txt">
                                # 취업지원
                            </p>
                        </div>
                        <div class="define-items">
                            <div class="item">
                                <div class="tit">근거규정</div>
                                <div class="cont">
                                    구직자취업지원 및 생활안정에 관한 법률
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">정책소개</div>
                                <div class="cont">
                                    취업을 원하는 사람에게 취업지원서비스를 종합적으로 제공하고, 저소득 구직자에게는 생계를 위한 최소한의 소득도 지원합니다. 국민취업지원제도 참여 자격요건을 갖춘 사람에게 고용복지플러스센터에서 관련 취업지원서비스와 수당(비용)을 지원합니다.
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">서비스목적</div>
                                <div class="cont">
                                    ㅇ 저소득층 소득지원 강화 「구직자 취업촉진 및 생활안정지원에 관한 법률」을 근거하여 저소득 구직자 등 I유형 참여자에게 구직촉진수당(50만원x6개월+부양가족*1인당 10만원씩 월 최대 40만원 추가지원)을 지급하여 저소득층의 생계 안정을 지원합니다. ㅇ 취업지원서비스 내실화 직업훈련 뿐만 아니라 일경험 프로그램과 고용ᆞ복지서비스의 연계성을 높여 수급자의 개인별 취업 장애 요인 해소를 위한 맞춤형 취업지원서비스를 제공합니다. ㅇ 구직활동 활성화 방안 마련 취업활동계획을 수립하여 구체적인 구직활동을 하도록 의무를 부여하고, 계획대로 활동하고 있는지 점검합니다. 구직활동 의무를 성실히 이행한 경우에만 구직촉진수당을 지급하고, 의무를 이행하지 않으면 수당 지급이 제한됩니다. ※ 취업활동계획을 수립하지 않거나 구직활동 의무를 이행하지 않으면 해당 지급주기의 구직촉진수당 지급이 중단되며, 3회 이상 지급이 중단되면 구직촉진수당 수급권이 소멸됩니다.
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">지원대상</div>
                                <div class="cont">
                                    참여자의 소득과 재산 등에 따른 두 가지 지원 유형 I유형 ㆍ요건심사형: 15~69세 구직자 중 가구단위 중위소득 60% 이하이고 재산 4억원(18~34세 청년은 5억원) 이하이면서, 최근 2년 안에 100일 또는 800시간 이상의 취업경험이 있는 사람 ㆍ선발형: 요건심사형 중 취업경험요건을 충족하지 못한 사람(단, 18~34세의 청년은 가구단위 중위소득 120% 이하이고 재산 5억원 이하이면서, 취업경험 무관) II유형 ㆍ특정계층*: 결혼이민자, 위기청소년, 월 소득 250만원 미만인 특수형태근로종사자, 영세 자영업자 등 ㆍ청년: 18세~34세 구직자 ㆍ중장년 : 35~69세 구직자 중 중위소득 100% 이하인 사람
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">지원요건</div>
                                <div class="cont">
                                    증빙자료와 선정·제외 기준 충족여부 종합적으로 판단하여 결정
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">주요내용</div>
                                <div class="cont">
                                    ㅇ IㆍII유형 참여자 모두에게 취업지원서비스 제공 참여자와 고용센터 상당자가 심층 상담, 상호 협의를 통해 개인별 취업의 어려움을 함께 파악한 뒤 취업 능력에 따라 취업활동계획을 수립합니다. 이를 바탕으로 고용센터는 취업에 필요한 직업훈련, 일경험, 복지서비스 연계, 일자리 소개 등 각종 취업지원서비스를 제공하며 참여자의 구직활동을 지원합니다. ㅇ Ⅰ유형 참여자에게 구직촉진수당 지급 구직 중 최소한의 생활 안정을 위해 최대 300만원(월 50만원×6개월)을 지원합니다.고용센터가 제공하는 취업지원서비스를 통해 구직활동을 성실히 수행한 참여자에게만 지급합니다.지급주기 중 발생한 참여자의 소득이 월 단위 구직촉진수당 수급액(50만원)을 초과하면 구직촉진수당은 지급되지 않습니다.(단, 사업소득과 근로소득의 합산액은 549,600원이상 시 부지급) ㅇ II유형 참여자에게 취업활동비용 지급 직업훈련 참여 기간동안 생계부담 완화 차원에서 최대 6개월 범위에서 수당(월 최대 284천원)을 지원합니다.
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">신청기한</div>
                                <div class="cont">상시</div>
                            </div>
                            <div class="item">
                                <div class="tit">사업절차</div>
                                <div class="cont">
                                    1.지원신청 → 2.수급자격 결정 및 알림 → 3.취업활동계획 수립 → 4.1차 구직촉진수당 지급 → 5.취업활동계획에 따른 구직활동의무 이행 → 6.2~6회차 구직촉진수당 지급 → 7.사후관리
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">구비서류</div>
                                <div class="cont">신청서, 개인정보 동의서, 확인서</div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
           <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>