<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교육과정 | 한경IT교육센터</title>

    <!-- og -->
    <meta name="title" content="교육과정 | 한경IT교육센터">
    <meta name="description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta name="author" content="한국경제">
    <meta property="og:title" content="교육과정 | 한경IT교육센터">
    <meta property="og:url" content="">
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta property="og:site_name" content="한경트래블러"/>
    <meta property="og:image" content="https://hkstatic.hankyung.com/resource/itcampus/img/og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="교육과정 | 한경IT교육센터">
    <meta name="twitter:description" content="한경IT교육센터, 디지털 이노베이션 교육기관 ​">
    <meta name="twitter:image:src" content="https://hkstatic.hankyung.com/resource/itcampus/img/og.jpg">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://www.hankyung.com/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="192x192" href="https://hkstatic.hankyung.com/resource/common/img/favicon/apple-touch-icon.png">
    <!-- css -->
    <link rel="stylesheet" href="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.css">
    <link rel="stylesheet" href="https://static.hankyung.com/resource/itcampus/css/common.css">
</head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <header class="header">
                    <div class="header-inner">
                        <h1 class="logo">
                            <a href="/">
                                <img src="https://static.hankyung.com/resource/itcampus/img/logo-itcampus.svg" alt="한국경제 IT교육센터">
                            </a>
                        </h1>
                        <div class="header-banner">
                            <img src="https://static.hankyung.com/resource/itcampus/img/banner-top.jpg" alt="디지털 이노베이션 교육기관 ​">
                        </div>
                    </div>
                </header>
                <nav class="quick-nav">
                    <ul class="gnb">
                         <li>
                            <a href="/course">
                                <span class="txt">교육과정</span>
                            </a>
                        </li>
                        <li class="on">
                            <a href="/courseinfo">
                                <span class="txt">정부지원<br>사업안내</span>
                            </a>
                        </li>
                        <li>
                            <a href="/centerinfo">
                                <span class="txt">교육센터<br>소개</span>
                            </a>
                        </li>
                        <li>
                            <a href="/project">
                                <span class="txt">
                                    <span class="is-pc">훈련생</span>
                                    프로젝트<br class="is-m">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                <span class="txt">상담센터</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <main class="contents courseinfo">
                    <!-- 정부지원사업: 국가인적자원개발컨소시엄 -->
                    <div class="page-tit-wrap">
                        <h2 class="page-tit">국가인적자원개발컨소시엄</h2>
                    </div>
                    <div class="course-detail consortium">
                        <div class="course-banner">
                            <div class="tit">컨소시엄</div>
                            <p class="txt">
                                정부지원사업 안내
                            </p>
                        </div>
                        <div class="define-items">
                            <div class="item">
                                <div class="tit">컨소시엄의 목적</div>
                                <div class="cont">
                                    중소기업 근로자들에게 맞춤형 훈련을 제공하여 대·중소기업 상생기반의 직업훈련 생태계 조성
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">지원대상</div>
                                <div class="cont">
                                    <p class="desc">
                                        <strong class="desc-tit">훈련대상</strong>
                                        중소기업 재직근로자 및 채용예정자 등
                                    </p>
                                    <p class="desc">
                                        <strong class="desc-tit">지원대상</strong>
                                        다수의 중소기업과 컨소시엄을 구성하고 자체 우수 훈련시설을 이용하여 맞춤형 공동훈련을 제공하는 기업 및 사업주 단체 등<br>
                                        <span class="desc sm">다만, 현직공무원, 사립학교 교직원, 졸업예정자 이외 재학생, 졸업예정학년이 아닌 고등학교 재학생, 졸업까지의 수업연한이 2년 초과하여 남은 대학 재학생, 연 매출 4억원 이상의 자영업자, 월 임금 300만원 이상인 대규모기업종사자(45세미만), 월평균소득 500만원 이상인 특수형태근로종사자 등은 제외</span>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">지원내용<span>(지원한도포함)</span></div>
                                <div class="cont">
                                    <div class="box-items sm">
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="https://static.hankyung.com/resource/itcampus/img/course/consortium/icon-1.svg" alt="" aria-hidden="true">
                                            </div>
                                            <div class="tit">연간 최대 20억</div>
                                        </div>
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="https://static.hankyung.com/resource/itcampus/img/course/consortium/icon-2.svg" alt="" aria-hidden="true">
                                            </div>
                                            <div class="tit">인프라 및 운영비 지원</div>
                                        </div>
                                    </div>
                                    <div class="desc-list">
                                        <div class="desc">
                                            <strong class="desc-tit">시설장비비</strong>
                                            <ul class="list-dash">
                                                <li>훈련에 소요되는 시설 임차료, 증개축 비용, 장비 구매·리스비용 등</li>
                                                <li>지원한도(연간20억) : 연간 15억원</li>
                                                <li>지원조건 : 대응투자 20%</li>
                                            </ul>
                                        </div>
                                        <div class="desc">
                                            <strong class="desc-tit">프로그램개발비</strong>
                                            <ul class="list-dash">
                                                <li>직무분석, 교재 및 커리큘럼 개발·구매 비용 등</li>
                                                <li>지원한도(연간20억) : 연간 1억원</li>
                                                <li>지원조건 : 대응투자 없음</li>
                                            </ul>
                                        </div>
                                        <div class="desc">
                                            <strong class="desc-tit">운영비</strong>
                                            1. 인건비<br>
                                            <ul class="list-dash">
                                                <li>훈련수요 조사, 협약기업 관리 및 지원인력 인건비</li>
                                                <li>지원한도(연간20억) : 연간 4억원</li>
                                                <li>지원조건 : 대응투자 20%</li>
                                            </ul>
                                            2. 일반운영비<br>
                                            <ul class="list-dash">
                                                <li>훈련수요 조사비용, 홍보비, 컨소시엄 운영위원회 운영비용 등</li>
                                                <li>지원한도(연간20억) : 연간 4억원</li>
                                                <li>지원조건 : 대응투자 없음</li>
                                            </ul>
                                        </div>
                                        <div class="desc">
                                            <strong class="desc-tit">훈련비 및 훈련수당</strong>
                                            <ul class="list-dash">
                                                <li>사업주훈련 환급 방식, 전략분야 훈련과정 운영비</li>
                                                <li>지원한도(연간20억) : 수료인원에 따라 지급</li>
                                                <li>지원조건 : 훈련수당은 1개원(120시간) 이상의 채용예정자훈련 수강생만 지원</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">지원절차</div>
                                <div class="cont">
                                    <div class="box-items sm">
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step01</strong>
                                            </div>
                                            <div class="tit">사업공고</div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step02</strong>
                                            </div>
                                            <div class="tit">사업계획서 제출</div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step03</strong>
                                            </div>
                                            <div class="tit">사업계획서 심사<span>(운영기관선정)</span></div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step04</strong>
                                            </div>
                                            <div class="tit">보조금 교부</div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step05</strong>
                                            </div>
                                            <div class="tit">사업수행</div>
                                        </div>
                                        <div class="item">
                                            <div class="item-etc-tit">
                                                <strong>step06</strong>
                                            </div>
                                            <div class="tit">회계감사 및 정산</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 상담예약 -->
                    <div class="contact-btns">
                        <button type="button" class="btn-contact">온라인 / 방문상담예약</button>
                        <!-- <a href="#" class="btn-contact">온라인 / 방문상담예약</a> [D] 링크 연결이 필요할 경우, a태그로 제작해주세요. -->
                    </div>
                </main>
                <footer class="footer">
                    <div class="footer-inner">
                        <strong class="foot-logo">한경닷컴 IT교육센터</strong>
                        <div class="foot-info">
                            <div class="info-item">주소 : 서울시 영등포구 양산로 53 월드메르디앙 비즈센터 401호</div>
                            <div class="info-item">대표자 : 정종태 l TEL 02-6340-2233 / 02-6340-2460</div>
                            <div class="info-item">
                                <a href="mailto:itcampus@hankyung.com">itcampus@hankyung.com</a>
                            </div>
                            <div class="info-item">사업자등록번호 : 104-81-47984</div>
                        </div>
                        <p class="copyright">Copyright ⓒ 2021 한경닷컴 IT교육센터 All Rights Reserved.</p>
                        <div class="foot-links">
                            <div class="item">
                                <a href="https://itcampus.hankyung.com/terms_service/">이용약관</a>
                            </div>
                            <div class="item">
                                <a href="https://itcampus.hankyung.com/%ea%b0%9c%ec%9d%b8%ec%a0%95%eb%b3%b4%ec%b7%a8%ea%b8%89%eb%b0%a9%ec%b9%a8/"><strong>개인정보취급방침</strong></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <aside class="aside">
                <div class="course-banner-slide">
                    <div class="item">
                        <p class="tit">
                            자바 웹 프로그래밍 분야에 취업하기 위한 비전공자/초보자 맞춤형 코스
                        </p>
                        <p class="desc">
                            비전공자들이 개발을 배울때에는 체계적인 학습이 필요합니다.<br>
                            비전공자 전용 과정은 체계적인 커리큘럼과 교육 방법을 통해 기본부터 차근차근 배우게 해줍니다. 비전공자 전용 과정은 체계적인 커리큘럼과 교육 방법을 통해 기본부터 차근차근 배우게 해줍니다.
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            파워있는마케터가 되는 데이터 분석 기반 디지털 마케팅 코스
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            노베이스에서 현직자로!
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            스스로 만드는 취업 가치! value up프로그램
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                    <div class="item">
                        <p class="tit">
                            데이터로 소통하는 찐 마케터 양성 코스
                        </p>
                        <p class="desc">
                            과정 설명글
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>