<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div th:replace="fragments/homepage_tagmanager :: homepage_tagmanager"></div>

    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents">
                    <!-- 상담센터 -->
                    <div class="page-tit-wrap">
                        <h2 class="page-tit">상담센터</h2>
                    </div>
                    <div class="box-items">
                        <div class="item">
                            <div class="item-icon">
                                <img src="https://static.hankyung.com/resource/itcampus/img/contact/icon-1.svg" alt="" aria-hidden="true">
                            </div>
                            <div class="tit">채팅상담</div>
                            <div class="btns">
                                <a target="_self" href="https://pf.kakao.com/_qsApxd" class="btn-default btn-outline">바로가기</a>
                            </div>
                        </div>

                    </div>
                    

                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>
                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
           <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>