<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents diff">
                    <!-- 과정차별성 확인하기 -->
                    <div class="course-banner">
                        <div class="tit"><strong>과정차별성</strong> 확인하기</div>
                    </div>
                    <div class="box-items">
                        <div class="item">
                            <div class="item-icon">
                                <img src="https://static.hankyung.com/resource/itcampus/img/diff/icon-1.svg" alt="" aria-hidden="true">
                            </div>
                            <div class="tit"><span class="color-mark">비전공자/초보자 전용</span> 커리큐럼</div>
                            <div class="cont">
                                2006년부터 시작한 JAVA개발자 과정을 시작으로 현재는 K디지털트레이닝 과정을 운영중
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-icon">
                                <img src="https://static.hankyung.com/resource/itcampus/img/diff/icon-2.svg" alt="" aria-hidden="true">
                            </div>
                            <div class="tit"><span class="color-mark">K디지털트레이닝</span> 선도기업과정운영</div>
                            <div class="cont">
                                회사에서 보유중인 실무 데이터 활용 프로젝트 지원
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-icon">
                                <img src="https://static.hankyung.com/resource/itcampus/img/diff/icon-3.svg" alt="" aria-hidden="true">
                            </div>
                            <div class="tit"><span class="color-mark">실무현업</span> 담당자 특강</div>
                        </div>
                        <div class="item">
                            <div class="item-icon">
                                <img src="https://static.hankyung.com/resource/itcampus/img/diff/icon-4.svg" alt="" aria-hidden="true">
                            </div>
                            <div class="tit">원리 이해를 바탕으로 하는 <span class="color-mark">토론식 수업</span></div>
                        </div>
                        <div class="item">
                            <div class="item-icon">
                                <img src="https://static.hankyung.com/resource/itcampus/img/diff/icon-5.svg" alt="" aria-hidden="true">
                            </div>
                            <div class="tit"><span class="color-mark">회사 고유 노하우</span>가 담긴 아키텍처/기술 전수</div>
                        </div>
                    </div>
                    

                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>

                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
           <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>