<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/homepage_header :: homepage_header"></head>
<body>
    <div class="wrap">
        <div class="layout-wrap">
            <div class="container">
                <div th:replace="fragments/homepage_gnb :: homepage_gnb"></div>
                <main class="contents">
                    <!-- 훈련생 프로젝트 현황 -->
                    <div class="page-tit-wrap">
                        <h2 class="page-tit">훈련생 프로젝트 현황</h2>
                    </div>
                    <div class="project-list">
                    	<th:block th:each="item:${slist}">
	                        <div class="item-wrap">
	                            <a href="#">
	                                <figure class="item">
	                                    <img th:src="${#strings.substring(item.sthumb,#strings.indexOf(item.sthumb,'/file'))}" alt="훈련생 프로젝트 이름">
	                                    <figcaption th:text="${item.stitle}"></figcaption>
	                                </figure>
	                            </a>
	                        </div>
                        </th:block>
                    </div>

                    <div th:replace="fragments/homepage_contact :: homepage_contact"></div>

                </main>
                <div th:replace="fragments/homepage_footer :: homepage_footer"></div>
            </div>
            <div th:replace="fragments/aside.html :: course-banner"></div>
        </div>
    </div>

    <!-- js: plugins -->
    <script src="https://hkstatic.hankyung.com/resource/common/library/jquery/v3.7.1/jquery-3.7.1.min.js"></script>
    <script src="https://hkstatic.hankyung.com/resource/common/library/slick/v1.6.0/slick.min.js"></script>

    <!-- js: UI -->
    <script>
        $(function () {
            // PC 사이드 교육과정 배너
            $('.course-banner-slide').slick({
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>